.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav__header {
  padding: 1.875rem 0.9375rem 0;
  background-color: #fff;
}

.nav__header-inner {
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #dce3e8;
}

.nav__body {
  overflow-y: auto;
  padding: 1.5625rem 0.9375rem;
}

.nav__footer {
  margin-top: auto;
  padding: 0 0.9375rem 1.875rem;
}

.dayofweek-switcher {
  padding-top: 0.9375rem;
}

.dayofweek-switcher > strong {
  font-weight: 400;
}

.user-info {
  margin-top: 0.9375rem;
  padding-top: 0.9375rem;
  border-top: 1px solid #dce3e8;
  font-size: 0.8125rem;
}

@media screen and (max-width: 1024px) {
  .nav__header {
    padding: 1.6667rem 0.9375rem 0;
  }

  .nav__header-inner {
    padding-bottom: 1.6667rem;
  }

  .nav__footer {
    padding: 0.9375rem 0.9375rem 1.6667rem;
  }
}
