.date-navigator {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 70;
  height: 3.125rem;
  background-color: #fff;
}

.date-navigator__inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1.375rem;
}

.date-navigator__navigation {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  white-space: nowrap;
  transform: translateX(-50%);
}

.btn-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.125rem;
  height: 1.125rem;
}

.date-navigator__title {
  position: relative;
  font-size: 2rem;
}

.date-navigator__input-date[type='date'] {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  cursor: pointer;
}

.date-navigator__input-date[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.btn-today {
  min-width: 3.375rem;
  padding: 0.3em 0.6666em;
  border: 1px solid #c1ccd6;
  border-radius: 0.5rem;
  font-weight: 700;
}

@media screen and (max-width: 736px) {
  .date-navigator {
    padding: 0 2.4414vw;
  }

  .date-navigator__title {
    font-size: 1.5rem;
  }

  .date-navigator__inner {
    justify-content: space-between;
  }

  .btn-today {
    font-weight: 600;
    font-size: 1.0833rem;
    padding: 0.1667em 0.3333em;
    border-radius: 0.6667rem;
  }
}
