.dayscale {
  position: relative;
  flex: 1;
  padding: .6rem 1.2rem;
  border: 1px solid #dce3e8;
  border-top: none;
  border-right: none;
  border-left: none;
}

.dayscale__day {
  font-size: 1.8rem;
  text-align: center;
  color: #5b7282
}

.dayscale.sun .dayscale__day {
  color: #ff4d37;
}

@media screen and (max-width: 736px) {
  .dayscale {
    padding: .8rem .4rem;
  }

  .dayscale__day {
    font-size: 1.66rem;
  }
}
