.icon-chevron::before,
.icon-chevron::after {
  width: 7px;
  height: 7px;
  border-top: 1.5px solid #2e2e2e;
  border-left: 1.5px solid #2e2e2e;
}

.icon-chevron--up::before,
.icon-chevron--up::after {
  transform: rotate(45deg);
}

.icon-chevron--down::before,
.icon-chevron--down::after {
  margin-bottom: 0.2em;
  transform: rotate(-135deg);
}

.icon-chevron--right::before,
.icon-chevron--right::after {
  margin-bottom: 0.1em;
  transform: rotate(135deg);
}

.icon-chevron--left::before,
.icon-chevron--left::after {
  margin-bottom: 0.15em;
  transform: rotate(-45deg);
}
