.timescale-label {
  flex: 1 1;
  display: flex;
  border: 1px solid #dce3e8;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.timescale-label__time {
  flex: 1 1;
  position: relative;
}

.timescale-label__time > span {
  position: absolute;
  top: -.5rem;
  right: 1rem;
  font-size: 1.8rem;
  color: #5b7282;
  white-space: nowrap;
}

@media screen and (max-width: 736px) {
  .timescale-label__time > span {
    top: -.2rem;
    right: .6rem;
    font-size: 1.33rem;
  }
}
