.timescale-label {
  flex: 1;
  display: flex;
}

.timescale-label__time {
  flex: 1;
  position: relative;
}

.timescale-label__empty {
  width: 10px;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-left: none;
}

.timescale-label:first-child .timescale-label__time {
  visibility: hidden;
}

.timescale-label__time > span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.4rem;
  transform: translateY(-50%);
  white-space: nowrap;
}

@media screen and (max-width: 736px) {
  .timescale-label__empty {
    width: 8px;
  }

  .timescale-label__time > span {
    right: 6px;
    font-size: 1.2rem;
  }
}
