.timescale-label {
  flex: 1 1;
  display: flex;
  border: 1px solid #dce3e8;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.timescale-label__time {
  flex: 1 1;
  position: relative;
}

.timescale-label__time > span {
  position: absolute;
  top: -0.1rem;
  right: 0.625rem;
  color: #5b7282;
  font-size: 1.125rem;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .timescale-label__time > span {
    font-size: 1.0714rem;
  }
}

@media screen and (max-width: 736px) {
  .timescale-label__time > span {
    font-size: 1rem;
  }
}
