.timescale-label {
  border-color: transparent;
  border-right: none;
  border-left: none;
}

.timescale-label > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4166em;
  height: 8rem;
}

.timescale-label__time {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.4rem;
  transform: translateY(-50%);
  white-space: nowrap;
}

.timescale-label.first .timescale-label__time {
  visibility: hidden;
}

@media screen and (max-width: 736px) {
  .timescale-label__time {
    font-size: 1.2rem;
  }
}

.timescale-empty {
  width: 10px;
  border-right: none;
  border-left: none;
}

.timescale-empty > div {
  position: relative;
  height: 8rem;
}

.timescale-empty > div::after {
  position: absolute;
  inset: 0 -1px -1px auto;
  z-index: 10;
  border-right: 1px solid #dfdfdf;
  content: '';
}
