.dayscale-cell-empty {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  z-index: 10;
  width: 91px;
  border-top: 1px solid transparent;
  background-color: #fff;
}

@media screen and (max-width: 736px) {
  .dayscale-cell-empty {
    width: 71px;
  }
}

.dayscale-cell-empty > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4166em;
  height: 6rem;
}

.dayscale-cell-empty > div::after {
  position: absolute;
  inset: 0 -1px -1px 0;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  content: '';
}
