.timetable-cell {
  position: relative;
  flex: 1 1;
  border: 1px solid #dce3e8;
  border-top: none;
  border-left: none;
}

.timetable-cell:first-child::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px solid #dce3e8;
  content: '';
}

.timetable-cell__inner {
  width: 100%;
  min-height: 16.4rem;
  padding: .8rem 1.2rem;
}

.timetable-cell.today .timetable-cell__inner {
  background-color: #f2f5f7;
}

.timetable-cell.blur .timetable-cell__inner {
  opacity: .3;
}

.timetable-cell__date {
  font-size: 1.8rem;
  text-align: center;
}

.timetable-cell.sun .timetable-cell__date {
  color: #ed251b
}

@media screen and (max-width: 736px) {
  .timetable-cell__inner {
    min-height: 12.22rem;
    padding: .6rem .4rem;
  }

  .timetable-cell__date {
    font-size: 1.33rem;
  }
}
