.timetable-cell {
  position: relative;
  flex: 1 1;
  border: 1px solid #dce3e8;
  border-top: none;
  border-left: none;
}

.timetable-cell:first-child::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px solid #dce3e8;
  content: '';
}

.timetable-cell__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 10.25rem;
  padding: 0.4em 0.6666em;
}

.timetable-cell.today .timetable-cell__inner {
  background-color: #f2f5f7;
}

.timetable-cell.blur .timetable-cell__inner {
  opacity: 0.3;
}

.timetable-cell__date {
  font-size: 1.125rem;
  text-align: center;
}

.timetable-cell.sun .timetable-cell__date {
  color: #ed251b;
}

.timetable-cell__data {
  padding: 0.625rem 0;
}

@media screen and (max-width: 1024px) {
  .timetable-cell__data {
    padding: 0.4285rem 0;
  }
}

@media screen and (max-width: 736px) {
  .timetable-cell__inner {
    min-height: 9.1667rem;
    padding: 0.1667em 0.3333em;
  }

  .timetable-cell__date {
    font-size: 1rem;
  }

  .timetable-cell__data {
    padding: 0.3333rem 0;
  }
}
