.dayscale {
  position: relative;
  flex: 1 1;
  padding: .6rem 1.2rem;
  border: 1px solid #dce3e8;
  border-top: none;
  border-right: none;
  border-left: none;
}

.dayscale__weekday {
  color: #5b7282
}

.dayscale__weekday,
.dayscale__day {
  font-size: 1.8rem;
  text-align: center;
}

.dayscale.sun .dayscale__weekday,
.dayscale.sun .dayscale__day {
  color: #ed251b;
}

.dayscale__day {
  margin-top: .4rem;
}

@media screen and (max-width: 736px) {
  .dayscale {
    padding: .8rem .4rem;
  }

  .dayscale__weekday {
    font-size: 1.66rem;
  }

  .dayscale__day {
    margin-top: .2rem;
    font-size: 1.33rem;
  }
}
