.dayscale {
  position: relative;
  flex: 1 1;
  padding: 0.4em 0.6666em;
  border: 1px solid #dce3e8;
  border-top: none;
  border-right: none;
  border-left: none;
}

.dayscale__weekday {
  color: #5b7282;
}

.dayscale__weekday,
.dayscale__day {
  font-size: 1.125rem;
  text-align: center;
}

.dayscale.sun .dayscale__weekday,
.dayscale.sun .dayscale__day {
  color: #ed251b;
}

.dayscale__day {
  margin-top: 0.4rem;
}

@media screen and (max-width: 1024px) {
  .dayscale__weekday,
  .dayscale__day {
    font-size: 1.0714rem;
  }

  .dayscale__day {
    margin-top: 0.3rem;
  }
}

@media screen and (max-width: 736px) {
  .dayscale {
    padding: 0.1667em 0.3333em;
  }

  .dayscale__weekday {
    font-size: 1.25rem;
  }

  .dayscale__day {
    font-size: 1rem;
    margin-top: 0.1667rem;
  }
}
