.form-control--date {
  position: relative;
  width: 100%;
}

.form-control--date__input:focus + .form-control--date__text {
  border-color: #0071e3;
  outline: 3px solid rgba(0, 125, 250, 0.6);
  outline-offset: 0;
}

.form-control--date__text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.375rem;
  padding: 0.6667em 1em;
  border: 1px solid #dce3e8;
  border-radius: 1rem;
  background-color: #fafafa;
  color: #222836;
  font-size: 0.9375rem;
}

.form-control--date__text.empty {
  color: #9fb1bd;
}

.form-control--date__input {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-control--date__input::-webkit-calendar-picker-indicator {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.form-control--date__input:disabled {
  cursor: no-drop;
}

.form-control--date__input:disabled + .form-control--date__text {
  background-color: #f2f5f7;
  color: #9fb1bd;
}
