.form-control--checkbox-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-control--checkbox-circle__input {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #fafafa;
}

.form-control--checkbox-circle__input:checked {
  background-color: #1570ff;
}

.form-control--checkbox-circle__text {
  position: absolute;
  font-size: 0.8125rem;
  color: #9fb1bd;
}

.form-control--checkbox-circle__input:checked
  + .form-control--checkbox-circle__text {
  color: #fff;
}

.form-control--checkbox-circle__input:disabled,
.form-control--checkbox-circle__input:disabled
  + .form-control--checkbox-circle__text {
  cursor: no-drop;
}
