.form-control--radio {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
}

.form-control--radio__input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #dce3e8;
  border-radius: 50%;
  background-color: #fff;
}

.form-control--radio__input:checked {
  border-color: #1570ff;
}

.form-control--radio__input:checked::after {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #1570ff;
  content: '';
}

.form-control--radio__text:not(:empty) {
  margin-left: 0.2667em;
}

.form-control--radio__input:disabled,
.form-control--radio__input:disabled + .form-control--radio__text {
  color: #c1ccd6;
  cursor: no-drop;
}
