.input--label-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input--checkbox {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #fafafa;
}

.input--checkbox:checked {
  background-color: #1570ff;
}

.input--checkbox--text {
  position: absolute;
  font-size: 0.8125rem;
  color: #9fb1bd;
}

.input--checkbox:checked + .input--checkbox--text {
  color: #fff;
}

.input--checkbox:checked:disabled,
.input--checkbox:checked:disabled + .input--checkbox--text {
  cursor: no-drop;
}
