.input--label-radio {
  display: flex;
  column-gap: 0.3125rem;
  font-size: 0.9375rem;
  cursor: pointer;
}

.input--radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #dce3e8;
  border-radius: 50%;
  background-color: #fff;
}

.input--radio:checked {
  border-color: #1570ff;
}

.input--radio:checked::after {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #1570ff;
  content: '';
}

.input--radio:disabled,
.input--radio:disabled + .input--radio--text {
  color: #c1ccd6;
  cursor: no-drop;
}
