.curtime-indicator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 0.9375rem;
  transform: translateY(calc(-50% - 0.5px));
}

.curtime-indicator::before {
  position: absolute;
  right: 0;
  left: -0.46875rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #ff6b55;
  clip: rect(0, 0.9375rem, 0.9375rem, 0.46875rem);
  content: '';
}

.curtime-indicator::after {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff6b55;
  transform: translateY(-50%);
  content: '';
}
