.dayscale-cell {
  border-bottom: none;
  border-top-color: transparent;
  font-weight: 600;
}

.dayscale-cell.sun {
  color: #ff4d37;
}

.dayscale-cell.sat {
  color: #1570ff;
}

.dayscale-cell > div {
  flex-direction: column;
}

.dayscale-cell > div::after {
  position: absolute;
  inset: auto 0 -1px 0;
  border-bottom: 1px solid #dfdfdf;
  content: '';
}

.dayscale-cell .dayscale-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
}

.dayscale-cell.today .dayscale-date {
  width: 5rem;
  height: 100%;
  border-radius:6px;
  background-color: #1570ff;
  color: #fff;
}

.dayscale-cell__weekday {
  font-weight: 400;
  font-size: 1.2rem;
}