.dayscale-cell {
  border-bottom: none;
  border-top-color: transparent;
  font-weight: 600;
}

.dayscale-cell.sun {
  color: #ff4d37;
}

.dayscale-cell.sat {
  color: #1570ff;
}

.dayscale-cell > div::after {
  position: absolute;
  inset: auto 0 -1px 0;
  border-bottom: 1px solid #dfdfdf;
  content: '';
}
