.form-control--btn-toggle {
  position: relative;
}

.form-control--btn-toggle__input {
  display: flex;
  align-items: center;
  width: 3rem;
  height: 1.5rem;
  margin-left: 0;
  padding: 0.125rem;
  border-radius: 2.5rem;
  background-color: #dce3e8;
  transition: background-color 0.25s;
}

.form-control--btn-toggle__input:checked {
  background-color: #1570ff;
}

.form-control--btn-toggle__input::before {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: margin-left 0.25s;
  content: '';
}

.form-control--btn-toggle__input:checked::before {
  margin-left: calc(100% - 1.25rem);
}
